.notFound {
  background-color: rgb(219, 219, 243);
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.innerDivNotFound {
  color: red;
}
